<form action="/item" method="POST">
  <label for="Name">Name:</label><br>
  <input type="text" id="name" name="name"><br>

  <label for="Category">Category:</label><br>
  <input type="text" id="category" name="category"><br>
  
  <label for="Price">Price:</label><br>
  <input type="number" id="price" name="price"><br>

  <input type="submit" value="Submit">
</form>